#disease_trait{
    width:400px;
}

#igsr{
    width:600px;
}

#index_div{
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#search_div{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:400px;
}

.text-container{
    height: 150px;
    overflow: auto;
    text-overflow: ellipsis;
}

.text{
    height: auto;
}

.hidden{
    display:none;
    height: 500px;
}

#user_div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 150px;
    border : 1px solid black;
}

.user_form{
    padding:5px;
}

.upload_div{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    border : 1px solid black;
    width: 350px;
    height: 50px;
}