<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload vcf</title>
</head>
<body>
    <h1>Upload vcf file</h1>
    <form id="upload_form" enctype="multipart/form-data">
        <input id="upload_file" type="file">
        <input id="upload_btn" type="submit">
    </form>
    <form action="/disease_trait">
        <input type="submit" value="SRR062634">
    </form>
</body>
<script>
    const upload_btn = document.querySelector("#upload_btn")
    const upload_file = document.querySelector("#upload_file")
    function click_upload_btn(e){
        e.preventDefault()
                
        var formdata = new FormData();
        formdata.append('file', upload_file.files[0])

        fetch('/uploadfile/',{
            method:'POST',
            body:formdata,
        })
        .then((response) => response.json())
        .then(data => console.log(data))
    };
    upload_btn.addEventListener("click",click_upload_btn)
</script>
</html>