<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',path='/style.css')}}" rel="stylesheet">
    <title>GeneLinks_report</title>
</head>
<body>
    <h3>Upload vcf file</h3>
    <div class='upload_div'>
        <form enctype="multipart/form-data">
            <input id="upload_vcf_file" type="file">
            <input id="upload_vcf_btn" type="submit">
        </form>
    </div>
    <h3>Upload array file</h3>
    <div class='upload_div'>
        <form enctype="multipart/form-data">
            <input id="upload_array_file" type="file">
            <input id="upload_array_btn" type="submit">
        </form>
    </div>

    <h3>User List (click button)</h3>
    <div id ='user_div'>
        <form class="user_form" action="/disease_trait">
            <input type="submit" name="user" value="SRR062634">
        </form>
        <form class="user_form" action="/disease_trait">
            <input type="submit" name="user" value="petra">
        </form>
    </div>
    <script>
        const upload_vcf_btn = document.querySelector("#upload_vcf_btn")
        const upload_vcf_file = document.querySelector("#upload_vcf_file")
        function click_upload_vcf_btn(e){
            e.preventDefault()
            
            var formdata = new FormData();
            formdata.append('file', upload_vcf_file.files[0])

            fetch('/uploadfile/',{
                method:'POST',
                body:formdata,
            })
            .then((response) => console.log(response.json()))
            .then(data => console.log(data))
        };
        upload_vcf_btn.addEventListener("click",click_upload_vcf_btn)

        const upload_array_btn = document.querySelector("#upload_array_btn")
        const upload_array_file = document.querySelector("#upload_array_file")
        function click_upload_array_btn(e){
            e.preventDefault()
            
            var formdata = new FormData();
            formdata.append('file', upload_array_file.files[0])

            fetch('/uploadfile/array/',{
                method:'POST',
                body:formdata,
            })
            .then((response) => console.log(response.json()))
            .then(data => console.log(data))
        };
        upload_array_btn.addEventListener("click",click_upload_array_btn)
    </script>
</body>
</html>