<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeneLinks_report</title>
    <link href="{{url_for('static',path='/style.css')}}" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator_semanticui.min.css" rel="stylesheet">
</head>
<body>
    <a href="/">go home</a>
    <h1><a href ="/overview_page?bio_input={{bio_input}}&&user={{user}}">Overview</a> | Scientific Detail</h1>
    <h3>disease_trait_list : {{bio_input}}</h3>
    <div class="text-container">
        <strong>summary</strong> : {{summary}}
    </div>
    <p><strong>scientific detail</strong></p>
    <div id="scientific_detail"></div>
    <p><strong>reference</strong></p>
    <div id="reference"></div>

    <script src="{{url_for('static',path='/js/pages.js')}}"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script>
    var scientific_detail = {{scientific_detail|tojson}};
    var scientific_detail_table = new Tabulator('#scientific_detail',{
        data:scientific_detail,
        pagination:"local",
        paginationSize:10,
        columns:[
            // {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", 
            // headerSort:false
            // },
            {title:"DISEASE_TRAIT", field:"DISEASE_TRAIT"},
            {title:"SNPS", field:"SNPS"},
            {title:"VARIANT AA CHANGE", field:"VARIANT AA CHANGE"},
            {title:"GENENAME", field:"GENENAME"},
            {title:"var_type", field:"var_type"},
            {title:"EFFECT_ALLELE", field:"EFFECT_ALLELE"},
            {title:"ALLELE_1", field:"ALLELE_1"},
            {title:"ALLELE_2", field:"ALLELE_2"},
        ],
    });
    scientific_detail_table.on("rowClick",function(e,row){
        window.location.href = '/ncbi?genename='+row._row.data.GENENAME;
    });

    var reference = {{reference|tojson}};
    var reference_table = new Tabulator('#reference',{
        data:reference,
        pagination:"local",
        paginationSize:10,
        columns:[
            // {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", 
            // headerSort:false
            // },
            {title:"LINK", field:"LINK", width:300, formatter:"link", formatterParams:{target:"_blank"}},
            {title:"AUTHOR", field:"AUTHOR"},
            {title:"JOURNAL", field:"JOURNAL"},
            {title:"STUDY", field:"STUDY"},
        ],
    });
    </script>
</body>
</html>